package userCode;

import enums.Action;
import world.State;
import world.Transition;
import world.WorldForPolicy;

public class MyPolicy extends AbstractPolicy implements IPolicy{

    // user variables
    
    @Override
    public void setWorldForPolicy(WorldForPolicy worldForPolicy) {
        super.setWorldForPolicy(worldForPolicy);

        // init user variables
    }
    
    @Override
    public double getUsability(State s) {
        
        // user code
    }

    @Override
    public void iterate() {

        // user code
    }

}
